{{> head }}
<style>
	:root {
		--primary-dark: #1d2129;
		--secondary-dark: #616770; 
		--fb-blue: #4267b2;
		--link-blue: #365899;
		--action-blue: #3578e5;
	}

	* {
		box-sizing: border-box;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
	}

	.navigation
	{
		background-color: #4267b2;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100vw;
		height: 40px;
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	}

	.main
	{
		width: 100vw;
		height: 100vh;
		background-color: #e9ebee;
		padding-top: 80px;
		
	}

	.outer-container
	{
		margin: 0 auto;
		max-width: 1024px;
		width: 100%;
		
		display: flex;
		justify-content: space-between;
	}

	.container
	{
		
	}

	.container--cookie
	{
		width: 185px;
	}

	.container--news-feed
	{
		width: 500px;
	}

	.container--friends
	{
		width: 310px;
	}

	.post
	{
		background-color: #ffffff;
		border-radius: 5px;  
		border: 1px solid #dddfe2;
		padding: 12px;
	}

	.post span,
	.post p
	{
		color: var(--primary-dark);
	}

	.post__header
	{
		display: flex;
	}

	.post__avatar
	{
		height: 40px;
		width: 40px;
		border-radius: 50%;
		background-color: var(--action-blue);
		margin-right: 12px;
	}

	.post__usermeta h3
	{
		color: var(--link-blue);
		padding-bottom: 2px;	
		margin: 4px 0 0 0;
	}

	.post__usermeta span
	{
		color: var(--secondary-dark);
		font-size: 12px;
	}

	.post__interactions, .post__reactions
	{
		display: none;
	}
</style>

<body>
	<nav class="navigation">
		<li>Something</li>
	</nav>
	<div class="main">
		<div class="outer-container">
			<div id="cookie" class="container container--cookie">
				cookie goes here
			</div>
			<div id="news-feed" class="container container--news-feed">
				{{! A post template }}
				<article data-post-id="" class="post">
					<header class="post__header">
						<div class="post__avatar">
							<img src="">
						</div>
						<div class="post__usermeta">
							<h3>Strong Eighty-Nine</h3>
							<span>Southampton Central Hall</span>
						</div>
					</header>
					<p class="post__content">
						Lorum Ipsum Lorum Ipsum Lorum Ipsum Lorum Ipsum Decorum Ipsum Lorum Ipsum Lorum Ipsum Lorum Ipsum.
					</p>
					<div class="post__interactions">
						<i class="">Like</i>
						<i class="">Comments</i>
						<i class="">Share</i>
					</div>
					<div class="post__reactions">

						A few people liked this, a few people didn't, can't please them all
					</div>
				</article>
			</div>
			<div id="friends" class="container container--friends">
				friends go here
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js" integrity="sha256-YFhaeQSVBgAFNN5z4I9YRB2jCuqc2nvypz0Q2eQzcx8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js" integrity="sha256-YFhaeQSVBgAFNN5z4I9YRB2jCuqc2nvypz0Q2eQzcx8=" crossorigin="anonymous"></script>
	<script src="/js/cookies.js"></script>
</body>