{{> head }}
<style>
	* {
		box-sizing: border-box;
	}

	.navigation
	{
		background-color: #4267b2;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100vw;
		height: 40px;
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	}

	.main
	{
		width: 100vw;
		height: 100vh;
		background-color: #e9ebee;
		padding-top: 80px;
		
	}

	.outer-container
	{
		margin: 0 auto;
		max-width: 1024px;
		width: 100%;
		
		display: flex;
		justify-content: space-between;
	}

	.container
	{
		
	}

	.container--cookie
	{
		width: 185px;
	}

	.container--news-feed
	{
		width: 500px;
	}

	.container--friends
	{
		width: 310px;
	}
</style>

<body>
	<nav class="navigation">
		<li>Something</li>
	</nav>
	<div class="main">
		<div class="outer-container">
			<div id="cookie" class="container container--cookie">
				cookie goes here
			</div>
			<div id="news-feed" class="container container--news-feed">
				<article data-post-id="" class="post">
					<header class="post__header">
						<div class="post__avatar">
							<img src="">
						</div>
						<div class="post__usermeta">
							<h3>Strong Eighty-Nine</h3>
							<span>Southampton Central Hall</span>
						</div>
					</header>
					<p class="post__content">
						Lorum Ipsum Lorum Ipsum Lorum Ipsum Lorum Ipsum Decorum Ipsum Lorum Ipsum Lorum Ipsum Lorum Ipsum.
					</p>
					<div class="post__interactions">
						<i class="">Like</i>
						<i class="">Comments</i>
						<i class="">Share</i>
					</div>
					<div class="post__reactions">
						A few people liked this, a few people didn't, can't please them all
					</div>
				</article>
			</div>
			<div id="friends" class="container container--friends">
				friends go here
			</div>
		</div>
	</div>

	<script src="/js/cookies.js"></script>
</body>