{{> head }}
<style>
	* {
		box-sizing: border-box;
	}

	.navigation
	{
		background-color: #4267b2;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100vw;
		height: 40px;
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	}

	.main
	{
		width: 100vw;
		height: 100vh;
		background-color: #e9ebee;
		padding-top: 80px;
		display: flex;
		justify-content: space-between;
	}

	.outer-container
	{
		
	}

	.container
	{
		background-color: red;
	}


	.container--news-feed
	{
		width: 
	}

</style>

<body>
	<nav class="navigation">
		<li>Something</li>
	</nav>
	<div class="main">
		<div class="outer-container">
			<div id="cookie" class="container container--cookie">
				cookie goes here
			</div>
			<div id="news-feed" class="container container--news-feed">
				feed goes here
			</div>
			<div id="friends" class="container container--friends">
				friends go here
			</div>
		</div>
	</div>
</body>